


:root {
  --main-titles-btn-link-color: #303030;
  --alternate-title-nav-btn-color: #ffffff;
  --alternate-suptitle-color: rgba(157, 164, 189, 0.6);
  --main-description-color: #555555;
  --alternate-description-color: #9da4bd;
  --accent-color: #ff6c00;

  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--main-description-color);
  background-color: rgb(220, 220, 220);
  /* line-height: ;
  letter-spacing: ; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, img, button, ul, li, small {
  background-color: grey;
  outline: 1px solid yellow;
}

h1, h2, h3, h4, h5, h6, p, ul, small {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img, a {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}



/* =============== COMPONENTS =============== */

/* BUTTON ========================= */

.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-titles-btn-link-color);

  border: 1px solid #FF6C00;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;


}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}

/*  ===================== END BUTTON */

/* SOCIAL LINKS ========================= */

.social-links-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-titles-btn-link-color);
}

/*  ===================== END SOCIAL LINKS */

/* SUPTITLE ========================= */

.sup-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*  ===================== END SUPTITLE */

/* TITLES =========================== */

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;
}

/*  ===================== END TITLES */

/* DESCRIPTIONS ========================= */

.section-description {
  /* font-weight: 400; */
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/*  ===================== END DESCRIPTIONS */

/* SECTION ========================= */

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/*  ===================== END SECTION */


/* =============== END COMPONENTS =============== */

/* HEADER =========================== */

.head-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.tel-link {
  margin-left: auto;
  margin-right: 40px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--alternate-title-nav-btn-color);
}

.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--alternate-title-nav-btn-color);
}

/*  ========================== END HEADER */

/* HERO =========================== */

.hero-title {
  font-family: var(--secondary-font);
  /* font-weight: 700; */
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--alternate-title-nav-btn-color);
}

.back-list-link,
.next-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.next-list-item {
  text-align: right;
}

/*  ========================== END HERO */

/*  ABOUT SECTION ==========================  */

.about-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: var(--main-description-color);
}

/*  ========================== END ABOUT SECTION */

/*  ADVANTAGE SECTION ==========================  */

.advantages-description {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-titles-btn-link-color);
}

.advantages-value {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-titles-btn-link-color);
}
/*  ========================== END ADVANTAGE SECTION  */

/*  MASTERS SECTION ==========================  */

.masters {
  background-color: #F7F7F7;
}

.sup-title {
  margin-bottom: 20px;
}

.masters .title {
  margin-bottom: 44px;
}

.master-name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.master-card {
  padding-top: 30px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.masters-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}


.master-class {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.social-link-list {
  display: flex;
  justify-content: center;
}

.social-link-list-link {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
}

.social-link-list-item:not(:last-child) {
  margin-right: 10px;
}

/*  ========================== END MASTERS SECTION  */

/*  CONTACTS ==========================  */

.address {
  font-style: normal;
}

/*  ========================== END CONTACTS  */

/*  FOOTER ==========================  */

.copyright-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

/*  ========================== END FOOTER  */

/* =============== COLORS =============== */

.hero .section-description,
.pricelist .section-description,
.contacts .section-description,
.contact-list-link,
.copyright-text {
  color: var(--alternate-description-color);
}

.menu-link:hover,
.menu-link:focus,
.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}

.header .modal-btn,
.next-back-list .next-list-link,
.pricelist .title,
.pricelist .modal-btn,
.online-form .title,
.contacts .title,
.contacts .sup-title {
  color: var(--alternate-title-nav-btn-color);
}

.hero .sup-title,
.next-back-list .back-list-link,
.pricelist .sup-title {
  color: var(--alternate-suptitle-color);
}

.about .title,
.about .sup-title,
.about .modal-btn,
.advantages .sup-title,
.advantages .title,
.masters .sup-title,
.masters .title,
.master-name,
.gallery .sup-title,
.gallery .title,
  color: var(--main-titles-btn-link-color);
}

/* =============== END COLORS =============== */